

  <table class="table table-striped justify-content-center align-items-center">
      <thead>
          <tr>
              <th>Prénom</th>
              <th>Nom</th>
              <th>Email</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          <% users.forEach(user => { %>
              <tr id="user<%= user.id%>">
                  <td><input name="FirstName<%= user.id%>" class="form-control user<%= user.id%>" type="text" value="<%= user.FirstName %>" aria-label="Disabled input example" disabled readonly></td>
                  <td><input name="LastName<%= user.id%>" class="form-control user<%= user.id%>" type="text" value="<%= user.LastName %>" aria-label="Disabled input example" disabled readonly></td>
                  <td><input name="Email<%= user.id%>" class="form-control user<%= user.id%>" type="text" value="<%= user.Email %>" aria-label="Disabled input example" disabled readonly></td>
                  <td>
                      <!-- Lien pour éditer l'utilisateur -->
                      <button data-ligne-id="user<%= user.id%>"  class="btn btn-primary editBtn">Éditer</a>
                      <!-- Formulaire pour supprimer l'utilisateur -->
                      <form action="/users/<%= user.id %>" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur?');">
                          <input type="hidden" name="_method" value="DELETE" />
                          <button type="submit" class="btn btn-danger">Supprimer</button>
                      </form>
                  </td>
              </tr>
          <% }) %>
      </tbody>
  </table>




  

<script>
    // Sélectionnez tous les boutons d'édition
// Sélectionnez tous les boutons d'édition
const editBtns = document.querySelectorAll('.editBtn');

// Ajoutez un écouteur d'événement à chaque bouton
editBtns.forEach(btn => {
  btn.addEventListener('click', (event) => {
    const ligneId = event.target.getAttribute('data-ligne-id');
    const inputs = document.querySelectorAll(`#${ligneId} input`);
    // Si le bouton est en mode édition
    console.log("Event bouton");
    if (event.target.textContent.trim() === 'Éditer') {
      event.target.textContent = 'Sauvegarder';
      inputs.forEach(input => {
        input.disabled = false;
        input.readOnly = false;
      });
    } else if (event.target.textContent.trim() === 'Sauvegarder') {
      event.target.textContent = 'Éditer';
      inputs.forEach(input => {
        input.disabled = true;
        input.readOnly = true;
      });
      // Appelez la fonction pour mettre à jour l'utilisateur
      // Assurez-vous d'obtenir les nouvelles valeurs des champs de saisie
      const userId = ligneId.replace('user', ''); // supposant que l'ID de l'utilisateur est le même que le numéro de ligne
      const newData = {
        id: userId,
        FirstName: document.getElementsByName('FirstName'+userId)[0].value,
        LastName: document.getElementsByName('LastName' +userId)[0].value,
        Email: document.getElementsByName('Email' +userId)[0].value
      };

      updateUser(userId, newData);
    }
  });
});

function updateUser(userId, newData) {
  // Mettez ici votre logique pour appeler la route PUT
 
  fetch('/users/'+userId, {
  method: 'PUT',
  headers: {
    'Content-Type': 'application/json'
  },
  body: JSON.stringify(newData)
})
.then(response => {
  return response.text();
})
.then(text => {
  try {
    return JSON.parse(text);
  } catch (e) {
    return text;
  }
})
.then(data => {
  displayAlert(200,data);

}).catch((error) => {
  displayAlert(400,error);
});
}

function displayAlert(code,data) {
  let element = document.getElementById("TempAlert");
  if(code == 200) { 
      element.className = "d-flex justify-content-center align-items-center container mt-3 alert alert-success";
  } else if (code == 400 ){
      element.className = "d-flex justify-content-center align-items-center container mt-3 alert alert-error";
  }
  element.innerText = data;
    // Supprimez l'alerte après 3 secondes
    setTimeout(() => {
        element.remove();
    }, 5000);
}


    

</script>
